

/*======================/Variables/==================*/

:root {
--Dark-Bg: #17181e;
--XDark-Bg: #111217;
--Main-Purple: #7532df;
--Hover-Purple: #1c1930;
--Dark-Purple: #262240;
--P-Green: #6CAA46;
--L-Blue: #3DAEFF;
--Orange: #EA5F39;
}

/*====================/End Variables/================*/



* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  
  
}

body, html {
height: 100%;
margin: 0;
padding: 0;
overflow: hidden;
}

body {
}

#total {
}

/*==================/Size Stuff/======================*/

#Title-Panel, #nav-panel {
height: 10%;
}
#container, #panels {
height: 90%;
/*padding-bottom: 10%*/
}
#total, #nav-container, .navButton, .panel, #projects-container, .flip-card-inner, .flip-card-front, .flip-card-back {
height: 100%;
}
/*=====================/Colors/========================*/
/*-----Background------*/

/*--------Font---------*/
/*=================/Title Panel/========================*/

#Title-Panel {
background-color: var(--XDark-Bg);
font-size: 3vh;
overflow: hidden;
color: white;
border-bottom: 5px solid var(--P-Green);
display: flex;
padding: 1vh 2vh 1vh 2vh;

}

.name  {
color: var(--Main-Purple);
font-weight: bold;
}

#version {
flex-align: flex-end;
align-self: center;
}

/*=============================================*/
#container {
background-color: red ;
  /*var(--Dark-Bg);*/
}


/*================/Navgation Bar/===================*/
#nav-panel {
width: 100%;
text-align: center;
background-color: var(--Dark-Purple);
}

#nav-container {
width: 50vw;
margin: auto;
display: flex;
justify-content: space-evenly;
}
.navButton {
font-size: 3vh;
width: 20%;
border: none;
background-color: #262240;
color: white;
overflow: hidden;
text-align: center;
}

.navButton:hover:not(.active) {
background-color: var(--Hover-Purple);
}
/*========================================*/
.active {
background-color: var(--Main-Purple);
}

.panel {
overflow: auto;
}

#panels {
background-color: var(--Dark-Bg);
color: white;  
}

/*====================/CARDS/=============*/

a.flip-card {
color: white;
text-decoration: none;
}
.flip-card {
height: 30vh;
background-color: transparent;
perspective: 1000px;
}
.flip-card-inner {
width: 100%;
transition: transform 0.6s;
transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  border-radius: 25px;
  background-color: var(--Hover-Purple);

}
.flip-card-front {
overflow: hidden;
}
.flip-card-back {
overflow: auto;
transform: rotateY(180deg);
text-align: left;
padding: 25px;
line-height: 1.3;
font-size: 15px;
}
.project-image {
height: 90%;
max-width: 100%;
}
.proj-info {
color: var(--P-Green);
}

.proj-details {
margin: 5px 0;
}
/*===============/Work Page/===============*/

#Work-Panel {
text-align: center;
background-color: transparent;
}

#projects-container {
width: 100%;
display: flex;
justify-content: space-evenly;

}

#other-projects, #Work-Container {
display: grid;
grid-row-gap: 1vw;
}

#other-projects {
grid-template-columns: auto;  
}

#Work-Container {
grid-template-columns: auto auto auto;
grid-column-gap: 1vw;
}

#Work-Panel H2 {
font-size: 5vh;
}

#Work-Panel H3:not(.passion, .future) {
font-size: 2vh;
margin: 10px;
color: var(--P-Green);
}


#proj-type {
display: flex;
justify-content: space-evenly;
color: white;
}

#passion_future, #other-projects {
width: 20%;
}

#completed-projs, #Work-Container {
width: 60%;
}

.passion {
color: var(--L-Blue);
}
.future, .strong {
color: var(--Orange);
}

/*===============/Skill Page/===============*/

#Skill-Panel {
text-align: center;
}


.skill-wrapper{
width: 60%;
margin: auto;
margin-top: 25px;
margin-bottom: 25px;
display: grid;
grid-template-columns: 1fr 1fr;
}

.skill-container {
text-align: center;
font-size: 1.5vw;
height: 25vh;
width: 75%;
margin: auto;
margin-bottom: 5vh;
background-color: var(--Dark-Purple);
border-radius: 10px;
overflow: none;
}



.skill-category {
text-align: center;
width: 100%;
margin: auto;
border-bottom: 3px solid var(--P-Green);
}

.skill-list {
max-height: 100%;
width: 70%;
text-align: left;
overflow: none;
font-size: 2vh;
margin-top: 1vh;
}



ul {
display: inline-block;
}
/*================/About/==================*/

#about-outer-container {
display: flex;
width: 80%;
margin: auto;
padding: 5vh 2vw;
}

#self-img {
height: 40vh;
padding-right: 2vw;
align-self: center;
}

#about-inner-container p {
line-height: 1.5;
font-size: 2.5vh;
}

#about-container H2 {
padding: 3vh 0;
color: var(--P-Green);
}

#about-inner-container p, H2 {
margin-top: 2vh;
}

#about-intro-text {
font-size: 4vh;
font-weight: bold;
}

/*=============/Contact/=================*/

#form-contact {
display: grid;
width: 50%;
padding: 2%;
margin: auto;
margin-top: 10vh;
background-color: var(--Dark-Purple);
border: 3px groove var(--Main-Purple);
border-radius: 25px;
}

#form-button-container {
display: flex;
}

#form-button-container input {
margin: 1vh 1vw 0 0;
width: 40%;
background-color: var(--Dark-Purple);
color: white;
border-color: var(--Main-Purple);
}

#form-button-container input:hover{
background-color: var(--Hover-Purple);
}

#comment-box {
resize: none;
overflow: auto;
width: 100%;
}

/*===============/Home/=============*/


/*=============/Buttons/============*/

/*
style certain links as buttons
*/

.button-link {
display: inline-block;
color: white;
text-decoration: none;
background-color: var(--Dark-Purple);
text-align: center;
padding: 1vh 2vw;
height: 5vh;
width: 15vw;
margin-top: 1vh;
margin-right: 1vw;
overflow: none;
border: 2px groove var(--Main-Purple);
}

.button-link:hover {
background-color: var(--Hover-Purple);
}

#contact-top{
margin: auto;
width: 50%;
margin-top: 3vh;
margin-bottom: 3vh;
text-align: center;
}

#contact-buttons-container {
display: flex;
width: 100%;
margin: auto;
}

#in {
display: inline-block;
text-align: center;
width: 3vw;
height: 3vw;
background-color: blue;
border-radius: 2px;
align-self: center;
}

#home-intro-container {
width: 50vw;
margin: auto;
margin-top: 20vh;
display: flex;
justify-content: center;
align-items: center;
}

#intro-image {
max-height: 40vh;
}

#home-intro-text-container {
font-size: 4vh;
margin-left: 2vw;
}

#I-Build {
color: var(--L-Blue);
}
#YOU {
color: var(--P-Green);
}

.emphasisB {
color: var(--L-Blue);
}
.emphasisG {
color: var(--P-Green);
}
